.carousel {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* gap: 10px; */
  }
  
  .carousel-window {
    overflow: hidden;
    width: 1232px; /* 3 items * 400px + 2 * 16px gap */
    /* gap: 10px; */
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
.carousel-item {
    flex: 0 0 350px;
    /* gap: 10px; */
}
  