.headingTitles{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin-left: 100px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.subheadings{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.aboutBoxRight{
    display: flex;
    flex-direction: row;
    /* grid-direction: row; */
    flex-wrap: wrap;
    /* align-content: flex-start; */
    /* margin:0px; */
    /* width: 100%; */
    /* justify-content: space-around; */
    gap: 10px;
}