#about{
    background-image: linear-gradient(#01010c, #050313);
    /* background-color: #07081f; */
    /* 07081f */
    color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    /* gap:20px; */
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 20px; */
    padding: 20px 100px 0px 100px;   
    /* width: 100%; */
}

.WhoAmI{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    /* margin-right: 100px; */
}

.whoAmIComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-color: rgba(69, 60, 147, 0.74);
    background-color: #101129;
    box-shadow: 5px 10px rgba(1, 0, 9, 0.74);
    border-radius: 20px;
    border-width: thick;
    border-style: double;
    width: 100%;
    /* gap:80px; */
    /* padding: 30px 20px 30px 20px; */
    margin: 20px 0px 20px 10x;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cartoonMe{
    width: 300px;
}

.WhoAmIDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    /* padding: 0px 150px 0px 150px; */
}

.WAIInfo{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

#me{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-width: 600px; */
}

@media (max-width: 1305px){
    #me{
        margin-right: -130px;
    }
    .WhoAmI{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* gap: 50px; */
        color: white;
    }
    #cartoonMe{
        width: 200px;
        height: 200px;
    }
    #me{
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        max-width: 500px;
    }
}

@media (max-width: 1205px){

    /* .skills{
        margin-left: 200px;
    } */

    #me{
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        max-width: 400px;
    }
}

@media (max-width: 1105px){
    .education{
        margin-left: -50px;
    }
}


@media (max-width: 781px){

    .education{
        margin-left: -80px;
    }

    #cartoonMe{
        margin-right: -50px;
    }

    #me{
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        max-width: 350px;
    }
}