#projects{
    background-image: linear-gradient(#01010c, #050313);
    color: rgb(255, 255, 255);

    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

    justify-content: center;
    align-items: center;
    padding: 50px;
    gap:50px;
    
    /* padding: 20px 100px 0px 100px;    */
    /* width: 100%; */
}

.allProjects{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.IndividualProjects{
    /* width: 100px; */
    height: 100px;
}

.Projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}